<br>
<header style="text-align: center">Login</header>
<br>
<br>
<div>
  <mat-card class="mat-card-center">
    <mat-card-content>
      <form [formGroup]="newLoginForm">
        <div>
        <mat-form-field>
          <label>
            <input matInput placeholder="Email" type="email" formControlName="email">
          </label>
        </mat-form-field>
        <br>
          <mat-form-field>
            <label>
              <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
            </label>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        <br>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>

