/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html {
  background-color: whitesmoke;
  margin: 0;
  box-sizing: border-box
}

header {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.mat-card-center{
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

button {
  background: #7d8085;
}

mat-card {
  width: 50%;
  margin-top: 2%;
  text-align: center;
  margin-left: 25%;
}

mat-list {
  margin-left: 25%;
}
