<br>
<header style="text-align: center">Create Category</header>
<br>
<br>
<div>

  <mat-card class="mat-card-center">
    <mat-card-content style="text-align: center">
      <br>
      <form [formGroup]="newCategoryForm">
        <mat-form-field>
          <label>
            <input matInput placeholder="Category Name" type="text" formControlName="catName">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="Description" type="text" formControlName="description">
          </label>
        </mat-form-field>
        <br>
      </form>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="CreateCategory()">Create</button>
    </mat-card-actions>
  </mat-card>
</div>


