<br>
<header style="text-align: center">Create Comment</header>
<br>
<br>
<div>
  <mat-card class="mat-card-center">
    <mat-card-content style="text-align: center">
      <br>
      <form [formGroup]="newCommentForm">
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="Message" type="text" formControlName="message">
          </label>
        </mat-form-field>
        <br>
      </form>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="CreateComment()">Create</button>
    </mat-card-actions>
  </mat-card>
</div>



