<br>
<header style="text-align: center">Sign Up</header>
<br>
<br>
<div>

  <mat-card class="mat-card-center">
    <mat-card-content>
      <img src="{{photoURL}}" alt="Profile picture" style="height: 150px; width: 150px">
      <br>
      <label>
        <input type="file" id="file" (change)="handleFileInput($event)">
      </label>
      <form [formGroup]="newSignUpForm">

        <mat-form-field>
          <label>
            <input matInput placeholder="email" type="string" formControlName="email">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="Username" type="string" formControlName="username">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="name" type="string" formControlName="name">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>
            <input matInput placeholder="Password" type="string" formControlName="password">
          </label>
        </mat-form-field>
        <br>
      </form>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="signUp()">SignUp</button>
    </mat-card-actions>
  </mat-card>
</div>

