<br>
<header style="text-align: center">Your Profile</header>
<br>
<br>
<div *ngIf="user$ | async as user">
  <div style="margin-left: 25%">
    <mat-card>
      <div style="position: fixed;">
        <img mat-card-lg-image src="{{user.photoURL}}">
      </div>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Username: {{user.username}}</mat-list-item>
          <mat-list-item>Name: {{user.name}}</mat-list-item>
          <mat-list-item>Email: {{user.email}}</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions align="end">
      <button mat-raised-button (click)="editUserRoute(user.uid)">Edit</button>
    </mat-card-actions>
    </mat-card>
  </div>
</div>

