<br>
<header style="text-align: center">Categories</header>
<br>
<br>
<div>
  <div *ngFor="let category of categories$ | async as category">
    <div style="margin-left: 25%">
      <mat-card>
        <mat-card-content>
          <mat-list>
            <mat-list-item>Category Name: {{category.categoryName}}</mat-list-item>
            <mat-list-item>Description: {{category.description}}</mat-list-item>
          </mat-list>
        </mat-card-content>
        <div *ngIf="role$ | async as role">
          <div *ngIf="role.roleName === 'admin' || role.roleName === 'superAdmin'">
            <mat-card-actions align="end">
              <button mat-raised-button (click)="deleteCat(category.id)">Delete</button>
              <button mat-raised-button (click)="editCategory(category.id)">Edit</button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>




