
mat-card {
  max-width: 60%;
  margin-top: 2%;
}
mat-card{
  max-width: 60%;

}
header {
  font-size: 40px;
  font-weight: bold;
}

.cardLayout {
  display: flex;
  flex-direction: column;
}

mat-list{
  margin-left: 25%;
}

.mat-card-center{
  width: 75%;
  text-align: center;
}

button {
  background-color: #7d8085;
}
