<br>
<header style="text-align: center">Admin Page</header>
<br>
<br>
<div *ngIf="roles$ | async">
  <div *ngFor="let user of users$ | async as user">
    <div class="mat-card-center" style="margin-left: 25%">
      <mat-card>
        <div style="position: absolute">
          <img mat-card-lg-image src="{{user.photoURL}}">
        </div>
        <mat-card-content>
          <mat-list>
            <mat-list-item>Username: {{user.username}}</mat-list-item>
            <mat-list-item>Email: {{user.email}}</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions *ngIf="isUser(user)" align="end">
          <button mat-raised-button (click)="deleteUser(user.uid)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>



