<br>
<header style="text-align: center">Admin Page</header>
<br>
<br>
<div *ngIf="role$ | async as currentUserRole">
  <div *ngIf="roles$ | async; let roles">
    <div *ngFor="let user of users$ | async as user">
      <div style="margin-left: 25%">
        <mat-card>
          <mat-card-content>
            <div style="position: absolute">
              <img mat-card-lg-image src="{{user.photoURL}}">
            </div>
            <mat-list>
              <mat-list-item>Username: {{user.username}}</mat-list-item>
              <mat-list-item>Email: {{user.email}}</mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions align="end">
            <div *ngIf="checkPermissions(user.uid, roles, currentUserRole)">
              <button mat-raised-button (click)="deleteUser(user.uid)">Delete</button>
            </div>
            <div *ngIf="currentUserRole.roleName === 'superAdmin' && getRole(user.uid, roles) !== 'superAdmin'">
              <button mat-raised-button (click)="changeRole(user.uid, roles)">{{roleChange}}</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
