<br>
<header style="text-align: center">Favorites</header>
<br>
<br>
<div *ngIf="authUser$ | async as user; else welcome">
  <div *ngFor="let topic of favoriteTopics$ | async as topic">
    <div *ngIf="favoriteTopics$; else welcome">
      <mat-card>
        <mat-card-content (click)="goToComments(topic.id)" style="cursor: pointer">
          <mat-list>
            <mat-list-item>Author: {{topic.author.username}}</mat-list-item>
            <mat-list-item>Topic Name: {{topic.topicName}}</mat-list-item>
            <mat-list-item>Description: {{topic.description}}</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button (click)="removeFavoriteTopic(topic, user.uid)">Remove</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #welcome>
<h2>Pick a favorite topic and it will be shown here!</h2>
</ng-template>





