ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7d8085;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: whitesmoke;
}

.header {
  text-align: center;
}

.mat-button1 {
  background-color: #7d8085;
  color: black;
  position: absolute; right: 10px; top: 10px;
}
.mat-button2 {
   background-color: #7d8085;
   color: black;
   position: absolute; right: 70px; top: 10px;
 }
.mat-button3 {
  background-color: #7d8085;
  color: black;
  position: absolute; right: 120px; top: 10px;
}
.mat-button:hover {
  background-color: whitesmoke;
}
