<mat-toolbar style="background-color: #7d8085">
  <div>
    <ul>
      <li><a routerLink="/home">HOME</a></li>
      <ul *ngIf="user$ | async as user">
        <li><a (click)="goToProfile(user.uid)" style="cursor: pointer">PROFILE</a></li>
        <ul *ngIf="role$ | async as role">
          <ul *ngIf="role.roleName === 'admin' || role.roleName === 'superAdmin'">
            <li><a routerLink="user/admin">ADMIN</a></li>
            <li><a routerLink="posts/create-category">CREATE CAT</a></li>
          </ul>
        </ul>
      </ul>
      </ul>
    <ul *ngIf="user$ | async as user; else login">
      <button class="mat-button1" mat-flat-button (click)="logout()">Logout</button>
    </ul>
  </div>
</mat-toolbar>


<ng-template #login>
  <button class="mat-button1" mat-flat-button routerLink="/login">Login</button>
  <button class="mat-button2" mat-flat-button routerLink="user/create-user">Sign Up</button>
</ng-template>
